{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form) }}
    <button>Save</button>
    {{ form_end(form) }}
{% endblock %}
