{% block movie_row %}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.synopsis) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.genres) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.cover) }}
        </div>
    </div>
{% endblock %}